[2017-11-14 22:36] rdela opened #2 "sort out `npm publish` for 0.0.1"
@d-winter @flexzuu @redmega

[2017-11-14 22:36] rdela opened #3 "[Renovate](https://renovateapp.com/)"
We have decided on Renovate, using this issue to keep track of setup status

[2017-11-14 22:37] rdela opened #4 "[CircleCI](https://circleci.com)"
We have decided on CircleCI, using this issue to keep track of setup status

[2017-11-14 23:00] rdela opened #5 "xo defaults"
@hmeissner in slack

[2017-11-14 23:11] rdela opened #6 ".babelrc, babel plugins, building and index.js noop"
@redmega [comment](https://github.com/GraphCMS/gatsby-source-graphcms/pull/1#issuecomment-344311426) on #1 review:

@hmeissner in slack:

Let’s get CircleCI set up (#4) and testing oldest active node LTS, [6.12.0](https://nodejs.org/download/release/latest-v6.x/), and use it as baseline so we are not sayin “dunno builds for me”

[LTS schedule ](https://github.com/nodejs/LTS#release-schedule)

[2017-11-14 23:36] Redmega commented on #2
I can publish at some point in the next 3-4 hours. I can add you all as well so everyone has publish access. Or should we stick with one person as a gateway to release for now?

[2017-11-14 23:38] Redmega commented on #4
Someone from @graphcms needs to authorize circleci for this project. I'm order to do that it needs org level access. Not sure if this is something they want. Does Travis have the same drawbacks?

[2017-11-14 23:40] Redmega commented on #5
I have spaces set already. No semicolons is up for a vote. I usually go semicolons but I'm ok with either way.

[2017-11-14 23:42] Redmega commented on #6
We can get concurrent builds up for 6 and 8. Open source projects get three parallel containers

As far as the noop, that's a @kyleamathews question.

[2017-11-14 23:43] hmeissner commented on #4
I think org level access is what we have to deal with CI-wise. Will talk with GraphCMS folks about CircleCI in the morning.

[2017-11-14 23:45] rdela commented on #4
I think we can send a Request that an org admin will have approve, or we can wait for them to add on their own

[2017-11-14 23:48] rdela commented on #2
But they have an npm org, so I think what we need is to get you (and @hmeissner @rafacm and me if you want) with publish permissions for at least this package which @d-winter and @flexzuu can assist with I think. Do you have 2FA on @Redmega? Can we agree to make that and org requirement?

[2017-11-14 23:50] rdela commented on #2
But if you want to publish under your personal before we get it all going go for it and we will just go around and update npm links later

[2017-11-14 23:55] rdela commented on #3
In Installed GitHub Apps apps now, think @flexzuu @d-winter need one of you to “Configure,” or maybe PR incoming

[2017-11-15 02:11] rdela commented on #3
PR has landed #7
attempting config

[2017-11-15 04:47] Redmega commented on #2
Sounds good. Wasn't sure how npm orgs worked, just thought someone had to publish it. I'll wait on input from them.

[2017-11-15 17:10] rdela commented on #4
Access request pending and Daniel is on it 🚀

[2017-11-15 18:46] rdela commented on #3
This is donezo 🎉
#7 #8

[2017-11-15 18:46] #3 closed

[2017-11-15 18:49] rdela commented on #2
This is in the works 🎉

[2017-11-15 20:38] rdela commented on #6
Word we are go for Circle setup you want to handle @Redmega or want me to?

[2017-11-15 20:55] rdela commented on #4
We are ready to set this up @Redmega want to do the honors or shall I give it a go?

[2017-11-16 14:47] Redmega commented on #4
Thanks for taking the initiative @rdela I had some people over yesterday so I wasn't able to do much.

[2017-11-26 03:24] #2 closed

[2017-11-27 03:55] rdela commented on #4
my fork now building on node 4,6,8, & 9, in parallel ⛓
4 https://circleci.com/gh/rdela/gatsby-source-graphcms/3
6 https://circleci.com/gh/rdela/gatsby-source-graphcms/5
8 https://circleci.com/gh/rdela/gatsby-source-graphcms/4
9 https://circleci.com/gh/rdela/gatsby-source-graphcms/6
all passed! so (assuming `faulty-keywords` tests are enough to judge) now we can modify babel config and know who we

[2017-11-27 04:28] rdela commented on #6
Circle success on node 4 for [`experimentally remove babel-plugin-transform-runtime`](https://github.com/rdela/gatsby-source-graphcms/commit/b29da171c867668e06df795770a3f52e92df593e)

builds
4 https://circleci.com/gh/rdela/gatsby-source-graphcms/8
6 https://circleci.com/gh/rdela/gatsby-source-graphcms/9
8 https://circleci.com/gh/rdela/gatsby-source-graphcms/10
9 https://circleci.com/gh/rdela/gatsb

[2017-11-27 06:07] rdela commented on #6
Woohoo node 4 on Windows even! https://ci.appveyor.com/project/rdela/gatsby-source-graphcms/build/job/wlwvhf5g4sp3uw8j

[2017-11-27 20:55] #6 closed

[2017-11-27 22:57] rdela opened #12 "Example wishlist"
What would you like to see in a revamped example? [i18n](https://graphiql.graphcms.com/simple/v1/gatsby)? What else?

[2017-11-27 23:14] rdela commented on #5
same, @hmeissner @rafacm last chance to rally against semicolons

[2017-11-30 06:31] rdela commented on #4
https://circleci.com/gh/GraphCMS/gatsby-source-graphcms

[2017-11-30 06:31] #4 closed

[2017-11-30 06:33] #5 closed

[2017-11-30 06:33] rdela commented on #12
Netlify!

https://github.com/rdela/gatsby-graphcms-rd
https://goofy-lamarr-14d2ac.netlify.com/

Get this going on https://github.com/GraphCMS/gatsby-graphcms-example#deploy

[2017-11-30 22:01] rdela opened #16 "over 1000 records per __type / automatic __meta count association"
See [readme](https://github.com/GraphCMS/gatsby-source-graphcms#does-not-support-over-1000-records-per-__type)

@hmeissner: https://github.com/GraphCMS/gatsby-source-graphcms#length-must-be-aliased will also be gone

[2017-12-11 16:54] Redmega commented on #16
@rdela

Can you explain what you meant by this?

It seems to me even if we paginate the query and concatenate results, any fields used in a model called `length` will still cause issues for gatsby.

[2018-02-07 04:43] dotgreg opened #28 "Relation Field - When empty, throw an error on Gatsby"
Hello, thanks first for that plugin

I am running into an issue serving content from graphql using your plugin. When I empty a relation field, it is shown as non existent on gatsby graphql side, creating an error on graphql.

I see on the TODO that relationship are not supported, although, except from that problem, it is working really fine for me (relationship and localization included)
Screensho

[2018-02-07 16:31] Redmega commented on #28
cc: @rdela

I believe this has to do with the fact that gatsby ignores empty nodes and doesn't create the type. I'll look into it later this week

[2018-02-22 06:20] #12 closed

[2018-02-22 06:23] rdela commented on #28
Yes I think you can find people discussing this in Gatsby issues in relation to the WordPress and Contentful plugins if anyone is feeling intrepid.

[2018-02-22 07:46] dotgreg commented on #28
saw those ones as well, they discuss directly on gatsby project issue tracking because the plugins themselves are maintained inside the core project codebase. But it looks being an issue with the plugins themselves, not from gatsby core.

[2018-02-22 23:03] Redmega commented on #28
It's more related to the way gatsby internally creates types, I believe. If the field is empty the type will not be created.

@rdela Can you share links to those issues so I can read up? Can't seem to find them.

[2018-02-23 05:33] rdela commented on #28
@redmega Here are a couple from a quick search
https://github.com/gatsbyjs/gatsby/issues/3495
https://github.com/gatsbyjs/gatsby/issues/2564

[2018-03-07 22:35] dardub opened #32 "[beta] New GraphCMS API"
GraphCMS has announced a new Beta for a revised UI and API.  There will be breaking changes with this API so I'm assuming this plugin will need a migration and new version.

https://graphcms.com/blog/the-new-graphcms

[2018-03-08 04:25] rdela commented on #32
Thanks for bringing this up, let us know as soon as you are on the beta in this issue and we can all start testing together on a new branch. We have a smaller update coming soon.

[2018-03-09 03:52] Redmega opened #35 "Fix prepublish scripts"
npm WARN prepublish-on-install Use `prepare` for build steps and `prepublishOnly` for upload-only.
npm WARN prepublish-on-install See the deprecation note in `npm help scripts` for more information.

[2018-03-09 04:16] #35 closed

[2018-04-02 14:41] rdricco opened #44 "[help] Acessing data via trasformer-remark"
Hi, it is possible to access graphcms data via MarkdownRemark? I want to use some remark plugins.

[2018-04-02 15:52] Redmega commented on #44
I don't believe we supply data in a way that can be used by the gatsby remark plugins, but this is something that I'd like to add! If you have an idea on how to do it (or code & a PR) that would be great!

[2018-04-03 19:26] rdricco commented on #44
I don't know how to do it, but looks like we only need to specify the mime type of graphcms nodes as text/markdown and the transformer-remark plugins will work. I think source-contentful do this, I saw some projects using remark-images.

[info about source plugins](https://github.com/gatsbyjs/gatsby/blob/master/docs/docs/create-source-plugin.md)

[2018-04-03 21:06] dardub commented on #32
Just curious if anyone has been invited to the Beta yet?

[2018-04-03 23:58] Redmega commented on #32
I have not been invited, yet. Will the invites be sent via email or within graphcms.com itself?

[2018-04-07 17:38] danielmahon commented on #28
I was able to hack a workaround using `setFieldsOnGraphQLNodeType`. I added the following to `gatsby-node.js` to map a `coverImage: null` to `coverImage: { handle: '' }`. Then instead of checking for a null coverImage or handle in React, I check for an empty string.

[code]
Messy, but seems to work until they fix this. I'm honestly surprised Gatsby doesn't already support nullable fields...

[2018-04-17 03:57] rdela commented on #44
I am fine with option [2], annotating the query with a comment.

@hmeissner in Slack:

Prior art (think these commits are what he refers to above):
https://github.com/GraphCMS/gatsby-graphcms-example/pull/3

This is interesting for us, maybe not here, possibly elsewhere:
https://github.com/apollographql/graphql-tools/issues/433

And here is SO thread on GQL string literal field descriptions vs com

[2018-04-18 08:35] hmeissner commented on #44
You can actually leverage transformer remark for your markdown data pretty easily, the only downside being that we really have no way of knowing which fields are markdown out of the box. To make this work you simply have to specify this in `gatsby-node.js`, something like:

[code]

[2018-04-19 21:26] rdricco commented on #44
Thank you @hmeissner, your solution solved my problem perfectly.
I'm closing the issue as the original purpose was reached but it can be reopened if anyone wants to continue the discussion and make this a out-of-box option on graphcms plugin.

[2018-04-19 23:25] rdela commented on #44
@rdricco thanks that was kind of you to close the issue, but I’m reopening because I think at the very least we should add something like what Hugo wrote to the readme and adjust the example to be like this.

What do you think?

[2018-04-20 01:42] Redmega commented on #44
Yes, at the very least we should include that snippet (or a similar one) here or in the example repo

[2018-04-20 15:56] rdricco commented on #44
Great! I think this example is very useful, maybe we need something like this on Gatsby Docs as this one could be used for other purposes, like merging sources too.

[2018-05-11 11:25] belazer commented on #32
Hey guys! We are currently having a closed beta, that will open up at the end of next week! Send me your GraphCMS Account email and I will get you an invite today @Redmega @dardub!

[2018-05-23 07:21] renovate[bot] opened #46 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-06-09 16:06] akalogiros opened #51 "Unknown field `allCurrentEvents` on type `RootQueryType`"
Hello everyone,

i have created a graphcms endpoint and trying to fetch some data from there and show them in a demo website.

in my gatsby config i have the following setup:

[code]

from this setup i wanna fetch the tip,awayteam,hometeam & date and parse them to my site.

My problem is at index.js file where i have the below setup:

[code]
i am getting the following error

`GraphQL Error Unknown

[2018-06-11 16:49] hmeissner commented on #51
Hey @akalogiros, the problem you are running into is likely due to the fact that Gatsby takes the data it gets from your main config query and puts it in it's own data layer.

Because of this, the query you have to use in your app's code differs from what you would normally use when querying GraphCMS endpoint directly.

You can access `localhost:xxxx/___graphql` to see what gatsby did with the dat

[2018-06-11 19:06] akalogiros commented on #51
Hello @hmeissner,

thanks a lot for your input.

I tried to do this over `localhost:xxxx/___graphql` but problem persist.

on the contrary when i am bulding my site with `gatsby develop` i can see in the command line that my data are correctly retrieved

![capture](https://user-images.githubusercontent.com/10164788/41251611-1bcfccf0-6dc3-11e8-98b7-d6d71f6d7ba4.PNG)

the error according `localhost:

[2018-06-12 11:48] hmeissner commented on #51
Yes this is all perfectly normal. You can see that Gatsby's graphiql is highlighting your queries as non-existent in the created API. You have to open up the docs on the right hand side in graphiql and look at how your data has been added to Gatsby. Then construct your queries according to that generated shape.

[2018-06-14 16:28] Redmega commented on #32
@rdela Have you had the chance to check out the beta yet? Unfortunately I've been swamped, things just _keep_ coming up for me.

[2018-06-20 15:31] hmeissner commented on #51
Closing this as that does not seem to be in issue with the plugin itself. Will reopen this if it turns out otherwise. If you have any more problems with this @akalogiros please PM me on our community Slack.

[2018-06-20 15:31] #51 closed

[2018-06-21 10:41] rdela commented on #44
`gatsby-transformer-remark` example now deployed to
https://github.com/GraphCMS/gatsby-graphcms-example
+
https://github.com/rdela/gatsby-graphcms-rd
so can be viewed at
https://kokodokai.com/ / https://kokodokai.netlify.com/

Relevant source files
https://github.com/GraphCMS/gatsby-graphcms-example/blob/master/gatsby-node.js
https://github.com/GraphCMS/gatsby-graphcms-example/blob/master/src/temp

[2018-06-21 10:41] #44 closed

[2018-06-21 20:35] rdela commented on #32
Yes, hoping to resolve #16 as well check [Feature ideas > In progress](https://github.com/GraphCMS/gatsby-source-graphcms/projects/2) for updates on both.

[2018-06-21 20:46] rdela commented on #16
Looks like this is a different answer for Prisma now than Graphcool? How does this effect beta / #32 I wonder? @hmeissner @belazer @mlukaszczyk

Sounds like we could just set a higher `limit` like `5000` if we wanted? Does anyone think it is worth examining `__meta` / `totalCount` or better to just document?

[Queries | Prisma Docs | #pagination](https://www.prisma.io/docs/reference/prisma-api/que

[2018-07-05 12:08] faia20 commented on #32
The **New graphCMS version** is now official and stable, not beta anymore.
It would be nice to adapt this plugin to work with the new version or create a new one.
When I change the gatsby-config.js to take endpoint and token, I get:

error Plugin gatsby-source-graphcms returned an error
TypeError: Cannot read property '1' of null

**My gatsby-config.js:**

`module.exports = {
  siteMetadata: {

[2018-07-10 18:59] jashmenn commented on #32
@faia20  - In the meantime, you can use: https://github.com/kbytin/gatsby-source-graphcms by @kbytin -- it's also published on npm here: https://www.npmjs.com/package/gatsby-source-graphcms-beta-patch

[2018-07-10 19:18] belazer commented on #32
Gatsby also recently showcased this: https://github.com/gatsbyjs/rfcs/blob/native-graphql-support/text/0000-native-graphql-source.md

Should make the plugin obsolete when it releases 😊

[2018-07-19 14:11] Redmega commented on #32
^ Generic graphql plugin looks like it would be great! Schema stitching is definitely the future.

Thanks for publishing a beta fix @jashmenn. If you create a PR with whatever changes were needed to fix it, we'd be happy to review and merge it!

I've been busy with work, sorry I've been less active with this repo!

[2018-08-16 04:01] marcaaron opened #60 "Support for environment variables?"
Is there a current workaround for the need for an absolute url endpoint?
Attempts to pass process.env.* fail with error.

[2018-08-18 02:41] Redmega commented on #60
You should be able to use env. vars. For example that's how I'm using:

`process.env.GRAPHCMS_TOKEN`.

What is the error you're getting? How are you declaring the env var?

[2018-08-18 04:39] marcaaron commented on #60
Ok! I think it must have been a silly typo. Seems to be working now.

[2018-08-18 04:39] #60 closed

[2018-09-26 18:02] sundaycrafts opened #65 "Is this plugin outdated?"
I found the [official document](https://docs.graphcms.com/tutorials/developers/gatsby_and_graphcms) for GraphCMS 2.0. According to that, it seems only need the official plugin named `gatsby-source-graphql`.

Is this plugin outdated? Or what difference between the official plugin and this?

[2018-10-09 10:40] Kikobeats commented on #28
did you find how to handle this properly in the v2?

[2018-10-11 08:14] gregoryforel commented on #65
It looks like `gatsby-source-graphql` will be the way to go. As far as I understand, the intention is to make it compatible to any GraphQL API provider by stitching their schema to Gatsby's, as opposed to having each provider developing their own. But... I might be wrong

[2018-10-11 10:38] sundaycrafts commented on #65
Thank you for the answer!
I replaced `gatsby-source-graphql` from this plugin. And I haven't any problem for now.
Please tell me if you find any issues using `gatsby-source-graphql` .

[2018-10-12 02:45] Redmega commented on #65
Yeah, that's about right!

I haven't had much time to respond to these, sorry! `gatsby-source-graphql` is the way to go. This was written in the time before, when gatsby source plugins were the wild west 😉

[2018-10-12 02:45] #65 closed

[2018-10-12 03:32] sundaycrafts commented on #65
I got it! Thank you!

[2018-10-18 02:47] YannickLeRoux opened #69 "How can I trigger a new Gatsby build + deploy when new content added (Netlify) ?"

[2020-07-08 12:35] #16 closed

[2020-07-08 12:35] #28 closed

[2020-07-08 12:35] #32 closed

[2020-07-08 12:35] #69 closed

[2020-07-21 14:36] github-actions[bot] opened #82 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-21 15:19] #82 closed

[2020-07-23 14:36] github-actions[bot] opened #93 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-23 16:42] #93 closed

[2020-07-23 23:44] MattixNow opened #95 "Error with gatsby-graphql-source-toolkit"
[code]

[2020-07-24 11:37] #95 closed

[2020-07-24 11:41] ynnoj commented on #95
@MattixNow Could you try [this release](https://github.com/GraphCMS/gatsby-source-graphcms/releases/tag/v2.0.0-next.2) please? It should resolve your issue.

[2020-07-30 11:09] ynnoj opened #97 "Build markdown nodes for RichText fields"
Build Gatsby markdown nodes for GraphCMS RichText fields. This will enable usage of [`gatsby-plugin-mdx`](https://www.gatsbyjs.org/packages/gatsby-plugin-mdx/) with GraphCMS projects.

[2020-07-31 12:59] #97 closed

[2020-08-06 14:19] ynnoj opened #100 "Delta sourcing fails if GraphCMS webhook contains payload"

[2020-08-12 11:01] ynnoj opened #102 "Use unique node ID when building MarkdownNode for RichText fields"
Generated `MarkdownNode` nodes are conflicting for multiple `RichText` fields on the same node due to us using a non-unique ID.

https://github.com/GraphCMS/gatsby-source-graphcms/blob/1edcbeffff8f049efc31b3a4c5ea03b8dc1b5373/gatsby-source-graphcms/gatsby-node.js#L155-L167

Pass an unique identifier to the `createNodeId` helper to ensure created nodes aren't overwritten.

[2020-08-12 14:33] #102 closed

[2020-08-14 08:25] notrab commented on #100
How does webhooks work currently? What is the required options in GraphCMS webhooks setup for preview/builds?

[2020-08-17 10:47] ynnoj commented on #100
@notrab The toolkit exposes APIs to capture and action webhooks. If a re-build is triggered from a webhook, then the corresponding Gatsby node will be updated/created (via a GraphQL query) or deleted.

https://github.com/GraphCMS/gatsby-source-graphcms/blob/f3dba5560cb45e40c491e461db3d3a306fb8e6e6/gatsby-source-graphcms/gatsby-node.js#L88-L116

Right now you just need to setup your GraphCMS webhoo

[2020-08-21 10:17] ynnoj opened #105 "Save schema query fragments"
When generating query fragments, we should provide the ability to write them to the project directory so they can be customised/extended. This is mostly required to allow for field arguments to be used when working with relational fields.

[2020-08-21 10:30] ynnoj opened #106 "Compile source with Babel"

[2020-08-21 10:33] ynnoj opened #107 "Update gatsby-source-graphql-toolkit once stable"
Once https://github.com/gatsbyjs/gatsby/pull/25468 lands, update our implementation to reflect any API changes.

[2020-08-21 11:38] ynnoj opened #109 "Add documentation, examples for extending query fragments"

[2020-08-21 11:46] #105 closed, assigned to ynnoj

[2020-08-28 08:50] ynnoj opened #110 "Build markdown nodes from markdown fields"
Currently the source plugin can [build markdown nodes](https://github.com/GraphCMS/gatsby-source-graphcms/blob/41f387d2dbc36c24bcc0746e2b8ebf7a5f239564/gatsby-source-graphcms/gatsby-node.js#L192-L223) for RichText fields from the CMS (for subsequent use with [`gatsby-plugin-mdx`](https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/)).

We should look to extend this functionality to also work with m

[2020-09-01 16:39] notrab commented on #110
This would be a great addition.

Leaving some notes here from our discussion earlier.

* Currently GraphCMS returns markdown fields as `String`, so there might be some additional config here.
* To prevent a breaking change in the product, it might be useful to add both `remoteTypeName` and `fieldName` to the plugin options.

[2020-09-14 07:59] notrab opened #115 "Working with graphcms-fragments"
Currently if a few people are working on new branches, which includes work involving changes made to the GraphCMS schema, any new changes are brought in when you run the source plugin.

This can include models which perhaps aren't finished, and cause merge issues later down the line.

Could GraphCMS environments help here? We should document "working with graphcms-fragments" on the README for the

[2020-09-24 11:28] ynnoj opened #116 "Add support for using GraphCMS localisation"

[2020-09-24 21:26] phil-lgr commented on #110
Having the same problem here, I think we should have a GraphCMS_MarkdownNode existing on the base schema

Any ETA on this to be added in the GraphCMS?

Thanks,

Phil

[2020-09-25 03:23] phil-lgr opened #118 "Missing System Props (createdAt, ...)"
As above, we are missing the system level timestamps

![image](https://user-images.githubusercontent.com/9644867/94223026-ece5a080-febc-11ea-8dcc-47766aaf1416.png)

[2020-09-25 09:28] ynnoj commented on #110
@phil-lgr Thanks for the feedback! This is something we're reviewing internally, hopefully something to share on this in the near future.

[2020-09-25 10:01] ynnoj commented on #118
@phil-lgr Thanks for reporting! I'll look at why these fields are missing from the schema. In the meantime you can add them to the generated `Asset` fragment manually:

https://github.com/GraphCMS/gatsby-source-graphcms/blob/fe361131bac69a171f14226274b739b5bf62a9e0/demo/graphcms-fragments/Asset.graphql#L1-L18

[2020-09-25 10:29] ynnoj commented on #118
Seems these fields (`createdAt`, `updatedAt`, `publishedAt`) are missing from fragments/types where localisation is present.

[2020-09-28 15:00] #118 closed

[2020-09-28 15:11] phil-lgr commented on #118
Thank you!

[2020-09-30 20:15] #116 closed

[2020-10-06 21:52] elliotpellerin opened #123 "Plugin Error Happens With GraphCms Project that Uses Only One Locale"
With the last version of the plugin, we encounter the following error.

[code]

[code]

Thank You

[2020-10-06 21:54] elliotpellerin commented on #123
cc @phil-lgr

[2020-10-06 22:11] phil-lgr opened #124 "GraphQL Error when Querying Model that Has a Union Multiple Type Prop"
I have an error with the lastest beta version .8

This query works with the GraphCMS.com playground:

[code]

but locally it doesn't:

[code]

Here is the error we get:

[code]

[2020-10-06 22:11] phil-lgr commented on #124
cc @elliotpellerin

[2020-10-07 09:22] ynnoj commented on #123
@elliotpellerin Thanks for reporting! There was a change made to the API just this week which has affected this.

I'll fix this today.

[2020-10-07 09:23] ynnoj commented on #124
@phil-lgr Can you please share the generated GraphQL fragment for type `Form`?

[2020-10-07 10:52] #123 closed

[2020-10-07 19:38] phil-lgr commented on #123
Thanks!

[2020-10-07 19:39] elliotpellerin commented on #123
Thanks!

[2020-10-07 20:14] phil-lgr commented on #124
[code]

[code]

[code]

[2020-10-07 20:15] phil-lgr commented on #124
One thing I don't get is `formFields`

[code]

Can be linked to FormField or FormFieldGroup

Do you see anything wrong with the schemas?

[2020-10-07 20:19] phil-lgr commented on #124
Ok somehow we regenerated it again with the new version and it seems fine! Closing for now

Thanks @ynnoj

[2020-10-07 20:19] #124 closed

[2020-10-07 20:49] phil-lgr commented on #110
@ynnoj we are kinda stuck on this as we were planning to heavily use Markdown fields in our apps

If you could offer some guidance on how / where to add the code, I could try to add the feature

Since we don't have a Markdown type coming from the API, we would need the plugin to handle the special case, maybe have the option to mark certain String field to be processed as Markdown node?

Let me kn

[2020-10-08 13:23] ynnoj commented on #110
I'm thinking the way to proceed with this (at least for the time being) is to extend the schema in your local Gatsby site.

I'll share an example soon.

[2020-10-09 10:14] ynnoj commented on #110
@phil-lgr I would recommend handling this inside your application `gatsby-node.js`. You could essentially mimic the [code](https://github.com/GraphCMS/gatsby-source-graphcms/blob/41f387d2dbc36c24bcc0746e2b8ebf7a5f239564/gatsby-source-graphcms/gatsby-node.js#L192-L223) from the source plugin to build markdown nodes for the required fields. Something like:

[code]

We'd like to add first-class suppo

[2020-10-16 20:08] phil-lgr commented on #110
Thanks it does! I think we can close this one for now

[2020-10-16 21:27] ynnoj commented on #110
Will keep it open as something we'd like to handle in future.

[2020-10-20 18:32] ynnoj opened #127 "Ensure typePrefix value is used when generating all types"
Ensure we use the configurable `typePrefix` value when generating markdown and asset nodes.

Currently we're using the previously hardcode `GraphCMS_` value.

[2020-10-20 19:41] #127 closed

[2020-10-20 19:54] ynnoj commented on #115
@notrab Great points! For sure need to document working with the query fragments (see #109).

GraphCMS Environments paired with a Git flow would be a nice combination, assuming the query fragments are checked into version control (as they should be).

Will close this, we can move discussion to #109.

[2020-10-20 19:54] #115 closed

[2020-10-21 10:05] ynnoj commented on #100
Due to some [recent changes](https://www.notion.so/Webhook-Payload-Changes-63aa31f7027041f38fb35822b55bbfcb) to GraphCMS webhook payloads, this is no longer an issue.

[2020-10-21 10:05] #100 closed

[2020-10-21 11:08] #109 closed

[2020-10-21 11:17] ynnoj opened #131 "Detail how types, query fields are generated"
Add notes to documentation stating how Gatsby types and query fields are generated from the remote GraphCMS, and how configuring `typePrefix` impacts this.

[2020-10-22 09:20] #106 closed

[2020-10-23 08:32] lanzoninicola opened #135 "Filter content stage accordingly to the API token settings"
Using the "gatsby-source-plugin" I can retrieve records only by the "default stage" configured in the API settings. I would ask to maintainers to let us to filter the content accordingly the "Content that can be queried" setting.  Reference: https://graphcms.slack.com/archives/C2VP3HAJH/p1603438442078400

[2020-11-10 10:51] ynnoj opened #140 "Panic if fetch to GraphCMS endpoint fails"
Currently if the `fetch` call to the GraphCMS project fails for whatever reason (network error, API issue) then the build continues and nodes failed to build. This results in a continuously build loop.

Instead we should throw an error during the build.

[2020-11-10 11:15] #140 closed

[2020-11-11 08:37] ynnoj opened #144 "Validate plugin options using pluginOptionsSchema"
Use the new [Gatsby API](https://www.gatsbyjs.com/docs/configuring-usage-with-plugin-options#how-to-validate-plugin-options) to validate plugin options during build.

[2020-11-11 13:26] #144 closed

[2020-11-13 18:35] GermainPereira opened #146 "error "gatsby-source-graphcms" threw an error while running the sourceNodes lifecycle:"
I'm evaluating GraphCMS for my company using the `gatsby-source-graphcms` plugin for fetching data from a GraphCMS endpoint, for now public available at https://api-us-east-1.graphcms.com/v2/ckh67cd5i176t01z23h0fe7dy/master

**GraphCMS's Graphiql playground ist working perfectly well for all needs.**

Still, I faced some issues while fetching/accessing data from the GraphCMS API using Gatsby local

[2020-11-15 22:00] ynnoj commented on #146
@GermainPereira Can you check the generated query fragments in the project directory? Are the missing fields present there?

[2020-11-16 13:45] GermainPereira commented on #146
@ynnoj Yes, there **are** missing fragments there as well as the fragments that shouldn't be there (I've already deleted the Homepage relation with the slideHeaders but it's still there).

**I've deleted the graphcms-fragments folder and it ran perfectly!** It seems like the GraphQL plugin can't fetch automatically the Schema changes for some reason.

Thank you for the fast answer!

[2020-11-16 15:21] ynnoj commented on #146
@GermainPereira That's great!

The generated query fragments are what the source plugin uses to fetch data from GraphCMS and subsequently create the Gatsby nodes during the build. These can be [configured](https://github.com/GraphCMS/gatsby-source-graphcms#working-with-query-fragments) (i.e. removing or adding fields) and as a result are not automatically re-generated following any remote schema c

[2020-11-16 15:21] #146 closed

[2020-11-20 12:31] ynnoj opened #148 "Ensure delta sourcing works for localised nodes"
We need to ensure that we perform delta sourcing events for all localised nodes, not just the default (`en`) node.

[2020-11-20 16:32] ynnoj opened #149 "Improve localisation documentation"
Create documentation for working with locales and GraphCMS localisation with the source plugin.

This should include examples in the existing demo app.

[2020-11-24 11:36] #148 closed

[2020-12-16 00:21] fjshomeplate opened #156 "Response not "parsed""
My query using this plugin doesn't come back parsed. Ex: data.allGraphCMSProducts.nodes.productName returns blank.

[2020-12-16 14:18] moritzsalla opened #157 "Plugin not creating nodes for multi-line text field"
I've created a multi-line text field with the name of "description" and filled it with dummy content.

Even upon restarting the server and renaming the API ID, my query throws the following error:

[code]

Gatsby: `2.22.10`
gatsby-source-graphcms: `2.1.1`

[2020-12-20 20:45] fjshomeplate commented on #156
Ok. The problem I was having was that I was querying on the allGraphCMSProducts field, when I should've done it on the GraphCmsProducts field.

[2020-12-20 20:46] #156 closed

[2020-12-22 22:47] moritzsalla opened #158 "Slug field is unsupported"
Gatsby cannot query slug field and throws an error.

[2021-01-06 16:10] ynnoj commented on #157
@moritzsalla Is the `description` field declared the generated query fragments? You can read more about them [here](https://github.com/GraphCMS/gatsby-source-graphcms#working-with-query-fragments).

[2021-01-06 16:13] ynnoj commented on #158
@moritzsalla Can you provide more information here? What's the error? Is there a reproduction I can look at?

[2021-01-08 16:52] moritzsalla commented on #158
Hi ynnoj, sorry for the lack of information. My post is more of a feature request than an error: I noticed that gatsby-source-graphcms appears to lack support for some newer graphCMS fields (e.x. slug). I've switched to using gatsby-source-graphql instead for now.

[2021-01-08 18:34] ynnoj commented on #158
There's no reason why slug fields shouldn't be supported. They're just a string.

Can you please check that the particular field you're having trouble querying is in the generated query fragment file? You can learn more [here](https://github.com/GraphCMS/gatsby-source-graphcms#working-with-query-fragments).

[2021-01-18 17:01] thomaseckhardt opened #159 "Markdown Node is missing for RichText fields with multiple values"
When using `gatsby-source-graphcms` with `buildMarkdownNodes` enabled, the markdown nodes for `RichText` fields are missing if "Allow multiple values" is checked in GraphCMS.

![image](https://user-images.githubusercontent.com/3824117/104943978-d2c55600-59b6-11eb-9619-4d510f8e9f05.png)

* gatsby v2.28.1
* gatsby-source-graphcms v2.1.1
* gatsby-plugin-mdx v1.6.0
* @mdx-js/mdx v1.6.22
* @mdx-js/reac

[2021-01-20 13:25] #157 closed

[2021-01-20 13:25] #158 closed

[2021-01-20 13:25] ynnoj commented on #158
Closing this, let me know if you're still encountering problems.

[2021-01-20 13:25] ynnoj commented on #157
Closing this, let me know if you're still encountering problems.

[2021-01-21 14:35] #46 closed

[2021-02-10 08:25] irenama opened #164 "Localization should enable passing a default/fallback language"
I ran into this problem when querying images for my localized project, though I think it is a general issue with how `gatsby-source-graphcms` queries localized content.

On GraphCMS images are localized per default, although it doesn't often make sense to actually upload two images (en/de). This brings me to my current issue:

As English is the default language I would like to fall back to the Eng

[2021-02-10 12:16] ynnoj commented on #164
@irenama Thanks for trying out the library.

Unfortunately the behaviour you're seeing is indeed expected. The nature of Gatsby's GraphQL layer makes it difficult for the library to implement the fallback pattern you see with your GraphCMS API.

However there are ways to achieve what you're looking to do using Gatsby APIs. You can add a custom resolver for the `image` field on the `crossLinks` typ

[2021-02-11 08:28] irenama commented on #164
Thanks for the detailed answer! Unfortunately, introducing custom resolvers would be an overhead for this project having a lot of nested 'sections' with images and the like.
If it may help someone searching in a similar direction: I think I need to keep using `gatsby-source-graphl` for that specific localized project.
Still, I'm happy to use this package in another upcoming project with currently

[2021-02-11 09:18] ynnoj commented on #164
There are both trade offs and benefits to using this library over `gatsby-source-graphql`. It's just about determining the right fit for your project. Unfortunately there's no 'one size fits all' because of the nature of Gatsby's GraphQL layer.

There might be some future API/product improvements which making working with localised assets better. Right now it's not a great experience to have to re

[2021-02-11 09:18] #164 closed

[2021-02-18 08:34] #107 closed

[2021-02-18 08:41] #135 closed

[2021-02-18 11:05] ynnoj commented on #135
@lanzoninicola Love for you to try this out!

[2021-03-03 00:24] ryanycoleman opened #169 "Gatsby v3 & new Gatsby-Image support"
Do you plan to migrate this plugin to support [gatsby-plugin-image](https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/) to build upon the other benefits [Gatsby v3](https://www.gatsbyjs.com/blog/gatsby-v3) provides?

As a happy user of both Gatsby and GraphCMS, we're looking forward to finally taking advantage of image optimization for our GraphCMS Assets after having

[2021-03-04 07:57] ynnoj commented on #169
Hey Ryan. This is on our radar, something we're hoping to implement in the next couple weeks.

[2021-03-04 16:32] ryanycoleman commented on #169
🙌🏻 that's great! Feel free to ping us as early validators. We have a modest codebase and plan to upgrade into Gatsby v3 in mid/late March.

[2021-03-17 08:13] ynnoj commented on #169
@ryanycoleman I just bumped the demo to use `gatsby@3.x.x` and `gatsby-plugin-image`. Works out of the box!

I'll add a `gatsbyImageData` resolver to all asset nodes in a separate PR. This will allow usage of `gatsby-plugin-image` without having to download local assets at build time.

[2021-03-17 17:10] ynnoj opened #172 "Generate placeholders for `gatsbyImageData` resolver"
Add `placeholder` argument to `gatsbyImageData` resolver and generate supported placeholders.

* Blurred image.

[2021-03-17 17:25] ynnoj commented on #169
@ryanycoleman See #171.

[2021-03-18 15:02] #169 closed

[2021-03-18 15:23] ryanycoleman commented on #169
Woot! Thank you @ynnoj! We should be able to try this out as early as next week. Cheers.

[2021-03-25 09:23] notrab opened #174 "Add contributor docs"
We should probably better document how this works locally for anyone contributing.

[2021-03-26 12:26] notrab commented on #159
This most likely can be resolved on this line https://github.com/GraphCMS/gatsby-source-graphcms/blob/e1b1627389903d25edafe1fa3c1e5b06dc5662cb/gatsby-source-graphcms/src/gatsby-node.js#L273 by checking the field type is an array.

I've added this to our todo list 🚀

[2021-03-26 12:33] #172 closed

[2021-04-05 13:17] notrab opened #187 "ERROR [object Object] [object Object]"
Some users are reporting the following is returned when running Gatsby with the source plugin installed.

[code]

We should improve error handling here.

[2021-04-05 13:18] notrab commented on #187
Using `2.4.0` the message is now:

[code]

API endpoints in these examples are also set to public.

[2021-04-06 07:56] notrab commented on #187
It appears after this PR https://github.com/GraphCMS/gatsby-source-graphcms/pull/166/files by @ynnoj was merged, that any API tokens that have just DRAFT access will throw the above error.

[2021-04-06 12:14] killfill commented on #187
Maybe it would be a good idea to default to PUBLISHED **and** DRAFT in [here](https://github.com/GraphCMS/gatsby-source-graphcms/blob/main/gatsby-source-graphcms/src/gatsby-node.js#L62)?

The failure seems to happen when the default PUBLISHED is used, and after you create a new graphcms project which only has DRAFT data. 😁

Btw, a better error output could be made [here](https://github.com/GraphCM

[2021-04-06 12:27] killfill commented on #187
Ok, its not 100% correct. Maybe the default should be DRAFT only, as having them both would require the access to be open for both env's at the endpoint side as well.

[2021-04-06 12:45] notrab commented on #187
Yeah the reason it's set to `PUBLISHED` is due to that security around the data. `DRAFT` tends to be used for staging/dev mode.

@killfill I'd happily accept a PR for the `JSON.stringify` update. I think `response.errors` are thrown in a few places.

We really should get some contributor docs on here 😅

[2021-04-10 16:46] TarekMowafy commented on #164
Hello @irenama , i came across a similar challenge and i was wondering how did grasby-source-graphql resolve the null assets issue?

[2021-04-12 07:12] irenama commented on #164
Hi @TarekMowafy ! The project, that I tested `gatsby-source-graphcms` for, was already using `gatsby-source-graphql`: with that all queries could fall back to a provided default locale, like so
[code]
So that's convenient/straightforward: No missing content (though maybe mixed language). :)
The reason why I checked out `gatsby-source-graphcms` though, is that the Gatsby image magic (local, static/

[2021-04-20 11:55] irenama commented on #187
Hi @notrab are there any updates on this? 🙂

At the moment it seems like I can't query any `DRAFT` content from my GraphCMS project ...or is there a way around that?
All my 'mixed' (DRAFT & PUBLISHED) content tokens default to `PUBLISHED` items and the token with which I would only want to request `DRAFT` content breaks the build with the `[object Object] [object Object]` error.

I'm grateful for

[2021-04-20 12:47] notrab commented on #187
@irenama I've asked @jpedroschmitz if he'll take a look at this when he has time. I haven't really spent a huge amount of time with this plugin (or Gatsby) to be very helpful - so I'll leave it to the expert @jpedroschmitz to investigate.

[2021-04-21 00:09] jpedroschmitz commented on #187
Hey, I've been looking into this problem, and it [looks like there's a bug](https://github.com/gatsbyjs/gatsby/pull/28614/files#r542824222) on the Gatsby reporter.

I opened a PR (#188) that will display properly formatted messages, which allows us to understand the errors. In my case, while trying to reproduce it, I found that it was happening due to missing permissions on my GraphCMS token.

Let

[2021-04-21 12:04] jpedroschmitz commented on #187
We have released `2.5.2` on NPM that should fix the issue. 🎉

To install, just run `yarn add gatsby-source-graphcms@latest` or `npm i gatsby-source-graphcms@latest`.

I'll be closing this issue for now. If there are any other problems you might have, don't hesitate to open an issue or reaching out. 👊🏻

[2021-04-21 12:04] #187 closed

[2021-05-05 09:11] notrab commented on #187
I've added some [FAQs](https://github.com/GraphCMS/gatsby-source-graphcms/pull/191) to the README @irenama to help others seeing this issue.

I think the issue is due to the plugin having a default locale it uses to query, and the token not having the correct permissions. Unless both are configured the same, it's hard to solve, as far as I know.

If you have any ideas on how we can address this, I

[2021-05-06 08:12] notrab opened #192 "Upgrade gatsby-graphql-tookit to 2.0.0"
https://github.com/gatsbyjs/gatsby-graphql-toolkit/blob/master/CHANGELOG.md

[2021-05-13 05:55] meesfrenkelfrank opened #193 "Image field not visible in gatsby GraphiQL"
I am using `gatsby-source-graphcms` and Gatsby version 3.

I created a Product model (with name, slug and image fields).

I can query the products names and slug:

[code]

But somehow I don't see a reference to the Image field under nodes, inside GraphiQL `http://localhost:8000/___graphql`?

**Update:**
Somehow my `Project.graphql` Fragment was not updated? The `image` field which I added later wa

[2021-05-18 09:02] notrab commented on #193
@meesfrenkelfrank you'll need to manage those fragments in your local repo. The reason here is that you can change them to fit your Gatsby projects needs.

If you aren't making any changes to them, you could just delete the folder once you've made schema changes, and the plugin will regenerate them.

[2021-05-23 14:40] axelra82 opened #194 "gatsby-plugin-image@1.1.0 is outdated"
Please consider adding `gatsby-plugin-image@1.x` to peerDependencies. Current 1.1.0 is outdated.

[code]

[2021-05-26 01:18] akiarostami commented on #164
hello @ynnoj,

Is there any update on this? We just moved a project to graphCMS, and one of the major reasons we chose graphCMS was localization. Now, after porting our data we are having a big challenge with this. I really hope you can help us with this, as we can't go through all of our data in several Models and add "localized" images.

Thank you.

[2021-05-26 01:29] akiarostami opened #195 "Assets and localizations"
Hi,

We just moved our content from another CMS to GraphCMS, and we love it! But we just ran into a major issue that we can't figure out how to resolve.

We have many models and almost all of them have images (assets). We also have 2 locales. Our site is build with Gatsby and we use gatsby-source-graphcms.

All fields without "enabled localisation" return their default value, which is exactly what

[2021-05-27 12:06] meesfrenkelfrank opened #196 "Previous and next navigation for posts filtered by Category in Gatsby project not working"
Somehow `previous` and `next` properties from context doesn't respect the filtered posts per Category?

I have a Category page template `src/templates/CategoryPage.tsx` where I have the following query to get the posts per category:

[code]

From `gatsby-node.js` I pass `previous` and `next` thought the context:

[code]

But now the `previous` and `next` properties doesn't respect the filtered pos

[2021-05-28 12:48] spences10 commented on #196
@meesfrenkelfrank so let me get this straight, there are `projects` from both the `PUBLISHED` and `DRAFT` stage being shown on the page?

And you only want to show `PUBLISHED` stage items? Correct?

I recall trying to do something similar in Gatsby a while back, but that was for local files, but the same sort of behaviour and I worked around it on the client. Maybe you could do something similar??

[2021-05-28 14:21] meesfrenkelfrank commented on #196
@spences10 to get it clear. The problem is not the published or draft items. The problem is that when I am inside a category the `previous` and `next` links to navigate to `previous` and `next` items takes all the items instead of only the array of items inside that specific category. How do I solve that?

[2021-06-08 08:46] #193 closed

[2021-06-08 08:50] notrab commented on #194
@axelra82 happy to accept a PR 😅

[2021-06-08 08:53] notrab commented on #195
@akiarostami Perhaps @jpedroschmitz can help out on this one - if he's any experience.

It's been a while since I used this plugin but from what I recall some Gatsby limitations would require you to overwrite the Gatsby resolver for the plugin to fetch what you need.

Since Gatsby creates its own GraphQL layer, it doesn't work the same way as GraphCMS does.

[2021-06-09 17:01] notrab commented on #195
Perhaps this issue will give you more context on this: https://github.com/GraphCMS/gatsby-source-graphcms/issues/164

[2021-06-09 17:04] #195 closed

[2021-08-13 02:32] orsi opened #205 "[gatsby-source-graphcms]: Problem building GraphCMS nodes // Error: Bad Request"
Public API, with default permissions (Read all models, Published stage)
https://api-ca-central-1.graphcms.com/v2/ckrikr0k50viq01xs8vhc5984/master

Commented out all queries to ensure that I didn't accidentally add non-existent properties. Still get this error with no idea what is happening -- the only thing I have setup is in the gatsby-config.js file:

![Screen Shot 2021-08-12 at 10 33 56 PM](htt

[2021-09-14 12:58] jpedroschmitz commented on #192
Updated it on #206!

As soon as we publish the next version as stable, we can close it.

[2021-09-14 13:00] jpedroschmitz commented on #194
Fixed it on #206!

As soon as we publish it as stable, I'll let you know 👊🏻

[2021-10-20 05:42] renovate opened #208 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency node to v20
 - [ ] chore(deps): update dependency postcss-preset-env to v9
 - [

[2021-10-28 15:29] luciobenini opened #209 "on upgrading to Gatsby 4 return null on build"
After upgrading to Gatsby v4 and using the next repo, when build sites, markdownNode returns null.

`
"content": {
  "markdownNode": null
},
`

Tried in several projects, same results.

Thanks for any help.

[2021-11-18 17:03] jpedroschmitz commented on #209
Hey @luciobenini, thanks for reporting it!

Do you have a GitHub repository? This way, it's easier to reproduce and find the bug.

[2021-11-18 17:55] luciobenini commented on #209
Hi @jpedroschmitz the main repo is [pittica/site](https://github.com/pittica/site) but you need to upgrade gatsby to v4 and gatsby-source-graphcms to @next.
The issue is only on the mdx (RichText) types.

[2021-11-18 18:10] jpedroschmitz commented on #209
Thanks a lot for the quick reply :D

I'll take a look into this issue and keep you posted here!

[2021-11-18 18:18] notrab commented on #209
Hey @luciobenini have you enabled Embeds on your Rich Text field?

[2021-11-18 18:26] luciobenini commented on #209
@notrab No. Embeds off.

[2021-11-22 13:26] vinayakakv commented on #209
Facing the same issue on `gatsby build` with `downloadLocalImages: true`.

`gatsby develop` works fine, though.

[2021-12-02 17:03] HUFGhani opened #212 "When build website get the following error "Cannot query field "allGraphCmsPost" on type "Query"" ."
when build site getting following error, Command that i'm using to build site is ```yarn clean && yarn build ```

i've use the following example repo https://github.com/GraphCMS/gatsby-starter-graphcms-blog

I'm using Gatsby v4

[code]

gatsby-config.js
[code]
gatsby-node.js

[code]
Package.json

[code]

[2021-12-12 15:47] M4ss1ck opened #213 "Problem building GraphCMS nodes when upgrading to Gatsby v4"
I got the following error after updating gatsby from v2 to v4

[code]

In gatsby-config.js I have
[code]
### Steps to reproduce:
clone https://github.com/M4ss1ck/wasting-blog/tree/actualizar-dependencias and run `pnpm dev` or `pnpm build`

### gatsby-cli info:

[code]

[2021-12-14 01:25] M4ss1ck commented on #213
I changed my GRAPHCMS_TOKEN enviroment variable with a different one just for doing something (the previous one was working with gatsby v2) and now I can use `gatsby develop` just fine. However, `gatsby build` throws the following errors

[code]

I guess it got something to do with the two warnings at the beginning, but in development (`pnpm dev`) there's only one and there's no error

[2021-12-14 02:38] M4ss1ck commented on #213
I just saw the note for gatsby v4 in the readme, my bad, so I did `pnpm add gatsby-source-graphcms@next gatsby-plugin-image@next`, however I'm still getting an error, this time with markdown content

[code]

I tried `pnpm add gatsby-plugin-mdx@next` but the problem persists.

[2021-12-17 15:30] Coffeeri commented on #213
@M4ss1ck I have similar issues, where I also have set
[code]
 to be able to access images e.g. via
[code]
While `gatsby develop` sometimes fetches the images correctly, `gatsby build` almost never fetches them correctly, such that I get warning messages like:
[code]
Where the returned image from  `localFile` is null.

[2022-01-03 13:01] acidicX opened #214 "Local images are null on gatsby build, but correct in dev mode (Gatsby v4)"
Hi,

I'm using the `2.7.0-next.1` version of this plugin and `gatsby-plugin-image@2.5.0-next.2`, but after upgrading to Gatsby v4 there `localFile` on all image assets that should be processed by gatsby-plugin-sharp is `null` when using `gatsby build`. I've set `downloadLocalImages: true` obviously. It mostly works fine when using `gatsby develop` though. But I'm also not getting any errors in the

[2022-01-03 13:06] acidicX commented on #213
@Coffeeri sounds a lot like the issue I'm having, I've opened a new one (#214) because the initial report here seems to be unrelated to images.

[2022-01-04 15:05] notrab commented on #214
HI @acidicX can you try upgrading to `2.7.0-next.4` and see if this helps at all?

[2022-01-04 15:58] acidicX commented on #214
Hi @notrab - just did, but nope, that's worse now - it's broken in Dev Mode as well. Now the localFile is `null` in `develop` as it is after `build`.

[2022-01-04 16:51] notrab commented on #214
Ok thanks, I’ll look into it a bit more next week when I’m back in the office. What I pushed is mostly unrelated anyways. I’ll update the dependencies too

[2022-01-06 12:57] luciobenini commented on #209
Updated to 2.7.0-next.4 and still not working.
MDX and assets don't working when building.

[2022-01-08 09:06] nickmarks00 commented on #213
@M4ss1ck I am having the same issue regarding `childMdx` nodes...running the build in verbose mode, I can see that the `markdownNodes` are being generated, but not the `childMdx` part. My project also works fine in `develop`...Here is my current `package.json`:
[code]

[2022-01-10 17:28] notrab commented on #214
@acidicX I'm not sure the root of the issue here. It would be worth us updating the dependencies, and going through the changelogs to see what can be done to resolve these issues.

I'm happy to merge in any PRs you want to submit if you are able to narrow the problem down further. I'll bring this up internally to try get more resources on it.

[2022-01-10 18:29] notrab commented on #213
Ok, I think I'm closer to the issue here and it's regarding Rich Text fields that have embeds enabled.

I'll update this thread in a few days as I try to fix this.

[2022-01-10 19:29] notrab commented on #209
Temp fix... Can you try this out to see if it helps with this issue? It might not, but it will resolve others. 🤞🏻

If a Rich Text field has embeds enabled, this is going to be a bit weird to resolve, since the typename changes for that field that Gatsby was expecting.

When configuring the plugin, you must specify the ModelField for the embedded RichText.

For example, a Product model with the fie

[2022-01-10 19:33] notrab commented on #214
Can we follow the steps in this comment to see if it makes anything better or worse here? https://github.com/GraphCMS/gatsby-source-graphcms/issues/209#issuecomment-1009271486

[2022-01-10 19:47] acidicX commented on #214
@notrab well, updating deps is always a good idea - but as I stated some points in my initial post, I still think the async calls are in the wrong place in this plugin. I can't find any reference that something inside `createResolvers` can be `async`, and the function is not being marked as `async` as well in this plugin.

See https://www.gatsbyjs.com/docs/reference/config-files/gatsby-node/#creat

[2022-01-10 21:11] notrab commented on #214
@acidicX I've not looked at the images stuff today at all, or gone down the rabbit hole yet on this fully. There's a few issues on v4, and some of our GraphCMS schema changes that can cause issues in other areas. If for example you change a rich text field to allow embeds, the fragments will need to be rebuilt, causing builds to fail as soon as that's done.

I'll try to look into this when I get m

[2022-01-11 08:12] acidicX commented on #214
@notrab just tried `next.6`, same behaviour as before on `build`, but `dev` mode works again. Sadly I don't really have the time to open a PR with a solution, but as a hint I had a look at the `gatsby-source-contentful` plugin, which has the same functionality. They also download the images in the `sourceNodes` step, which can be async:

https://github.com/gatsbyjs/gatsby/blob/master/packages/gats

[2022-01-11 08:42] notrab commented on #213
The `markdownNode` issue should be resolved on the latest `next` release of `gatsby-source-graphcms`.

I'll close this as there are a few issues related to assets already.

[2022-01-11 08:42] #213 closed

[2022-01-11 08:42] #192 closed

[2022-01-11 08:42] #194 closed

[2022-01-11 08:43] notrab commented on #205
This should be resolved in the latest `next` release. I believe it was to do with RichText fields having embeds enabled causing this, and swallowing the error.

[2022-01-11 08:43] #205 closed

[2022-01-11 08:46] notrab commented on #212
Hey

Can you provide your endpoint here?

Can you try removing some of the config options you have as well, such as download assets, and markdown nodes?

You may also want to upgrade the `next` version as I've just published a new one.

The issue here seems to be more of an introspection issue, meaning no endpoint was found. Since `allGraphCmsPost` is generated in step 1 of our plugin, the types s

[2022-01-11 09:23] notrab commented on #159
I'm going to close this as with embedded types on Rich Text you can't have multiple values. So it's not something the plugin can support unfortunately.

We may reopen if we change the API behaviour.

[2022-01-11 09:23] #159 closed

[2022-01-11 09:23] notrab commented on #110
Closing this. We'll reopen if anything here changes in the future.

[2022-01-11 09:23] #110 closed

[2022-01-11 09:24] #174 closed

[2022-01-11 09:25] notrab commented on #196
@meesfrenkelfrank is this still an issue?

Does the `next`/`previous` types have arguments to filter also?

I believe there was some Gatsby limitation with this a while back that I've no idea if the Gatsby team resolved.

I'll close this for now since it's been stale for a bit. Will reopen if we need to though.

[2022-01-11 09:25] #196 closed

[2022-01-11 09:26] #209 closed

[2022-01-11 09:27] notrab commented on #212
Closing as this appears to be more of a config issue than a plugin issue. We can continue to discuss though. Will reopen if it's plugin related.

Thanks!

[2022-01-11 09:27] #212 closed

[2022-01-11 09:29] notrab commented on #214
I'll try to find some time to look into this further.

Regarding webp, last time I checked, the `resolveGatsbyImageData` didn't support `webp` and only a small subset (as shown in the source).

Thanks!

[2022-01-11 09:50] acidicX commented on #214
Blurred placeholders work with webp (which is what we use), but traced SVG does not (png only, also `node-potrace` seems to be unmaintained) - not sure if dominant color generation works. Funny though, even when `image/webp` is not in the list, the blurred placeholder generation still worked for us in v2 and v3.

[2022-01-11 10:06] notrab commented on #214
I can’t remember the specifics, it’s been over a year since I last worked on this plugin. Maybe it was a limitation with us, who knows.

I’ll try to look into this further and get back to you in due course. Feel free to open a PR if you ever do get the time, thanks

[2022-01-11 14:11] notrab opened #221 "Make a note on Granular Permissions usage"
If no token is provided, and permissions are added, Gatsby will fail to fetch content for the schema it has access to.

GraphCMS doesn't remove anything from introspection that you don't have access to, so Gatsby is just doing what it thinks it can with regards to the schema.

We should add a note that Gatsby needs a token with all permissions enabled to work properly.

[2022-01-11 16:21] M4ss1ck commented on #214
I just updated my plugins
[code]
I'm now using gatsby-source-graphcms@2.7.0-next.9 as you can see. But I'm still receiving warnings about images.

[code]
And what is worse, my blogposts are empty now, and there are no error messages. More info about my repo in #213

[2022-01-11 16:23] M4ss1ck commented on #213
gatsby-source-graphcms@2.7.0-next.9 didn't solve this for me, unfortunately

[2022-01-12 21:34] luciobenini commented on #209
#222 Please check on request

[2022-01-12 21:50] luciobenini opened #223 "concurrency error"
When setting `concurrency` I get an error:

[code]

[2022-01-18 16:46] notrab commented on #214
Hey @M4ss1ck does the same error occur when using `2.7.0` (no `next` flag) in your project?

[2022-01-18 18:17] M4ss1ck commented on #214
I updated my plugins, including `gatsby-source-graphcms@2.7.0`

Trying to discard random mistakes, I deleted `node_modules`, `fragments` and `.cache` folders and reinstalled.

Then I ran `pnpm build` and got the same `warn [gatsby-plugin-image] Missing image prop` warnings. However, this time it's failing to fetch `allGraphCmsPost.nodes.content.markdownNode` in my blog/index.js page but everything

[2022-01-18 20:17] notrab commented on #214
@M4ss1ck regarding the markdown node issue, are you able to provide a endpoint for your API so I can debug further?

We should discuss this in another issue perhaps.

[2022-01-18 20:40] M4ss1ck commented on #214
@notrab my current `GRAPHCMS_ENDPOINT` is `https://api-ca-central-1.graphcms.com/v2/ckqbyhdoci9cm01z1dt205z8t/master`, I hope you find what's wrong and thank you for the quick response.

I don't know if you'll need a token too so lmk

Since this is so weird I guess I'm doing something wrong and perhaps there's nothing wrong with markdown nodes

[2022-01-20 13:38] notrab commented on #214
@acidicX I believe you're in touch with our support who will help triaging this further. Let's try to keep comms in one place (here, or on the chat) so we've a log of everything going on.

I'm not too familiar with Gatsby these days, so it might be worth us trying to speak with them to get further insight on this. I did speak with Kyle Matthews briefly about this, but our implementation of the sou

[2022-01-20 13:44] notrab commented on #214
I've reached out to Gatsby. I'll let you know if I hear anything back.

[2022-01-20 14:08] acidicX commented on #214
@notrab Sure thing! All the info really is here though. I wasn't sure how actively this repo is monitored by graphcms and I just wanted to make sure that this is getting the proper attention as we are paying customers, so I reached out to the support team as well. Sorry for disturbing your holiday ;)

Afaik this is done via the the https://www.gatsbyjs.com/plugins/gatsby-transformer-sharp/ plugin,

[2022-01-20 14:11] notrab commented on #214
Thanks @acidicX

I think we potentially should have added a note to the repo saying it wasn't an "official" plugin, as it was formally created by the community, and then taken over by some Gatsby users internally.

I am trying to get this plugin now part of our official integrations team, so we can offer better support, and functionality. So I'm sure we'll see that happen this year. Gatsby doesn't

[2022-01-20 14:19] acidicX commented on #214
Well it did work quite well for me on Gatsby v2 and v3, so I still suspect the issue is with the async execution while creating the nodes/resolvers, because the main change in v4 is running queries in parallel.

[2022-01-20 14:25] notrab commented on #214
@acidicX but how come `File` isn't adjusted to be aware of the gatsby image stuff, this is what I'm scratching my head at 😅

[2022-01-20 14:47] acidicX commented on #214
@notrab If I understand it correctly, the current workflow is like this:

_gatsby-source-graphcms_ -> Asset -> createRemoteFileNode (this adds localFile) -> _gatsby-plugin-image_ (adds placeholder generation) -> _gatsby-plugin-sharp_ (does the actual image processing) -> gatsby-transform-sharp (this adds all the output from the sharp plugin to the resolver)

I'm still unsure how `gatsby-source-fil

[2022-01-20 17:29] notrab commented on #214
@acidicX it's my understanding that `Asset` is replaced with the native `File` when `downloadLocalImages: true` is set. This is what seems to be throwing things off somewhere, maybe unrelated.

[2022-01-22 09:08] luciobenini commented on #223
@notrab You're right. The change appears in a -next.x.

[2022-01-22 09:08] #223 closed

[2022-01-25 18:11] notrab commented on #214
@acidicX can you try version `v2.7.1-next.1` and report back?

I'm having more luck with this now than before, but we might not be there yet...

[2022-01-25 20:58] sbuys commented on #214
@notrab tried `v2.7.1-next.1` and it appears to have broken `buildMarkdownNodes`. All of our markdownNodes are now null.

[2022-01-25 22:08] notrab commented on #214
thanks!

Gatsby 😫

[2022-01-26 09:01] notrab commented on #214
@sbuys can I asked what happened with local assets though?

[2022-01-26 09:06] sbuys commented on #214
@notrab well our images (local assets) are part of the markdown, so was not able to tell.

[2022-01-26 09:12] notrab commented on #214
Can you share the query?

[2022-01-26 10:08] acidicX commented on #214
Could we please try to keep this issue about the local images? I'm not sure the problems are related.

@notrab I've tested it and it seems to work for PNGs again now 🎉, could you please add webp to the list here?
https://github.com/GraphCMS/gatsby-source-graphcms/commit/297b99e9bcc6f66af54ec0f933643cf4778da5a8#diff-8582651aaa3a1a09548e66fe368b79d26b6ae75d40d5e4cc4684baf998095d26R323

[2022-01-26 11:47] notrab commented on #214
@acidicX great! Could you try `v2.8.0-next.1`?

[2022-01-26 13:28] acidicX commented on #214
@notrab seems to be working 🎉 thanks for the fix!

[2022-01-26 14:26] #214 closed

[2022-01-28 14:55] Bogdan1001 opened #227 "gatsbyImageData return a wrong structs for some images"
Hello,

We've a problem with some images that were loaded from gatsbyImageData.

Getting the next error at console: [gatsby-plugin-image] Missing image prop

looks like the images which are not loaded don't contains `fallback:` field:
<img width="773" alt="Screen Shot 2022-01-28 at 9 50 30 AM" src="https://user-images.githubusercontent.com/65122085/151567936-bb821abb-83f6-4ea0-99ae-a16ea4cb5b93.pn

[2022-01-28 15:32] Bogdan1001 commented on #227
ok can close the issue, it was fixed after I used the image directly without  `getImage(gatsbyImageData);`

[2022-01-28 15:32] #227 closed

[2022-01-31 05:13] sbuys commented on #214
@notrab. Thanks for the image fix. Is a markdownNodes fix in the works? We're struggling to debug / understand if it's something we're doing or an issue with the plugin.

[2022-02-01 10:40] notrab commented on #214
@sbuys can you open a new ticket with replicable steps & endpoint? Thanks

[2022-02-05 03:27] sbuys opened #232 "Markdown nodes null in production"
Using `2.8.0`

Picking up from #214, where the same issue occurred with local images - null in production but valid in development. Not sure if the issue here is related.

[Example project](https://github.com/sbuys/gatsby-graphcms) with public API endpoint.

Plugin config:
[code]

[2022-02-13 23:05] sbuys commented on #232
@notrab anything we can do to help on this one? We are stuck in a holding pattern on a few projects.

[2022-02-17 00:44] DennisSimon commented on #232
So i managed to work around the issue in my case, which is very similar to the case that you posted as an example @sbuys.
Here is a quick rundown of what i changed:

Previously, i was simply querying the ids of all posts/pages that contained the `markdownNodes` in `gatsby-node.js`, passed them to the gatsby template pages via the context and then retrieved all required fields within the template v

[2022-02-17 19:38] DennisSimon commented on #232
Another piece of information:

I noticed that the workaround i posted above suddenly stopped working.
To get it working again, i needed to clean the cache and rebuild.

So it might also be a caching issue?

[2022-02-17 21:21] sbuys commented on #232
@DennisSimon thanks for the update. I'll look into the caching and report back.

[2022-02-18 00:39] gregorygaines opened #233 "Add ability to serve images in Webp format"
Your [React library](https://github.com/GraphCMS/react-image) for loading GraphCMS images has the ability to compress and serve images in the [Webp format](https://github.com/GraphCMS/react-image/blob/2d2fa4210a86475204f8eba564f7c3ceda9969a3/src/index.js#L63). It would make sense to include the functionality in this library, but unfortunately I can't find it.

[2022-02-24 01:23] jpedroschmitz commented on #233
Hey @gregorygaines, the plugin already supports the `webp` format! https://github.com/GraphCMS/gatsby-source-graphcms/blob/b2bb56f22ff6d3ba5236a6c6c56457fc27aaa373/gatsby-source-graphcms/src/gatsby-node.js#L323-L325

[2022-02-24 01:26] gregorygaines commented on #233
Awesome! One last question. Is this feature available for serving directly from the graphcms CDN instead of downloading locally if I want to take advantage of graphcms caching?

[2022-02-25 13:21] jpedroschmitz commented on #233
Yeah! You can upload `webp` images to our CDN!

If you want, you also convert images from png to `webp`, for example.

https://graphcms.com/docs/api-reference/content-api/assets#convert-file-type

[2022-02-27 21:06] gregorygaines commented on #233
Thanks is awesome @jpedroschmitz, but not quite what I need; I'll explain further.

When using `GatsbyImage` with `gatsby-source-graphcms`, images are served by the generated CDN URL code below...

https://github.com/GraphCMS/gatsby-source-graphcms/blob/b2bb56f22ff6d3ba5236a6c6c56457fc27aaa373/gatsby-source-graphcms/src/gatsby-node.js#L382-L393

The served image is unoptimized; served in its origi

[2022-02-28 07:20] sbuys commented on #232
@DennisSimon The problem actually seems tied to the code in `onCreateNode()`.

Per the [documentation for Gatsby v4](https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/), mutation of nodes outside of `createNode()` is an anti-pattern. More info [here](https://www.gatsbyjs.com/docs/how-to/local-development/debugging-missing-data/).

 `field.value.markdownNode = markdownNo

[2022-02-28 19:13] jpedroschmitz commented on #233
That's a feature from Filestack, as you mentioned.

https://www.filestack.com/docs/api/processing/#auto-image-conversion

We can add it as an option, but I think the best option here is to add support to the image option `formats`.

https://www.gatsbyjs.com/docs/reference/built-in-components/gatsby-plugin-image/#formats

I'll reopen it!

[2022-03-31 04:48] gregorygaines opened #237 "Update baseURI to 'https://media.graphassets.com'"
GraphCMS will soon [update the asset domain](https://graphcms.notion.site/Our-Asset-Domain-Will-Change-Soon-9c48046b53cf4d1e9be81135d235ab5f) from `media.graphcms.com` to `media.graphassets.com`.

#236

[2022-05-04 07:44] yondr-luka opened #238 "Gastby build - connect ETIMEDOUT"
Hello there,

Since yesterday, I am unable to build anymore using the gatsby-source-graphcms plugin.

This worked perfectly fine the previous week on my projects, but now it results in the following error:

`
[gatsby-source-graphcms]: Problem building GraphCMS nodes

 Error: {
  "message": "request to https://api-eu-central-1.graphcms.com/v2/xxxxhashxxxxx/master failed, reason: connect ETIMEDOUT x

[2022-05-05 07:06] yondr-luka commented on #238
Never found the answer. The only solution was to start a new project and copy all my code to this project.

[2022-06-08 06:40] yondr-luka commented on #238
Can you find a difference between the other projects?

[2022-06-27 21:15] luciobenini commented on #238
Problem is only on Windows when project has a lot of assets and schemas.

[2022-07-15 17:26] artusi-io opened #239 "Gatsby V2 fails to build fragments when model has nested components"
## Description
A model using nested components will break the building showing `bad request` error.
Eg:
-  `Modular page `>  `Carrousel (Modular)` > `Items (Component)` -> Bad Request 🔴
-  Removing the `Items (Component)` the build will work. ✅

**package.json**
[code]

![Screen Shot 2022-07-15 at 14 07 28](https://user-images.githubusercontent.com/90772298/179274032-80d77f52-afa7-43b3-91a5-1b9c99

[2022-08-10 18:08] zzullick commented on #232
Any updates or workaround on this issue? Experiencing the same thing with `2.8.0` and gatsby `4.20.0`.

[2022-08-10 19:10] sbuys commented on #232
@zzullick we moved to another CMS. We're one of the case studies on the website too 💔.

[2022-09-02 14:43] karlwir opened #245 "Locales not working through relations"
Hi,

I'm building a site with a schema quite similar to https://github.com/hygraph/reference-marketing-website. But i'm using Gatsby.

The issues lies in the Page <-> Navigation <-> Page relationship. When querying for pages, the german page's navigation holds english pages. So the navigation in German site would be in English. In the Hygraph API-playground the Navigation pages locale turns out co

[2022-09-05 07:08] karlwir commented on #245
If anyone encounters the same issue. I found a workaround by adding a localized field to the Navigation schema. This seems to make the Locale trickle through to the related pages..

[2022-10-13 16:28] SabbeRubbish opened #246 "[Updated] How can I identify a referenced component's type?"
[Updated] See [this comment](https://github.com/hygraph/gatsby-source-graphcms/issues/246#issuecomment-1278524273) for the up to date problem.

### Reproduction
You can reproduce the issue with my repo https://github.com/SabbeRubbish/graphcms-bug-repro
Used GraphCMS and latest gatsby default starter.
Added to gatsby-config.js:
[code]

### Expected behaviour
ALL nodes get a `fields` object with `BL

[2022-10-13 18:29] raae commented on #246
This is probably because of a [do not infer policy](https://queen.raae.codes/emails/2022-06-16-dont-infer/) set by GraphCMS on the node's schema.

[2022-10-13 18:38] raae commented on #246
Seems this is done by `gatsby-graphql-source-toolkit` that is used: https://www.npmjs.com/package/gatsby-graphql-source-toolkit#5-add-explicit-types-to-the-gatsby-schema

[2022-10-14 06:02] SabbeRubbish commented on #246
Hi raae,

Thank you for your reply and useful insights.
That however does not solve my problem.

Let me elaborate a bit more, I have a Page in GraphCMS that has multiple types of modular components I can add:

![image](https://user-images.githubusercontent.com/5593135/195771920-0707d6dd-5317-4ca9-8727-b623ef446401.png)

When I source this into Gatsby, I see this in GraphiQL:
![image](https://user-

[2022-10-19 12:03] yondr-agency-15 commented on #238
I have a website that used a page-template to create pages. But it is only 10 Pages with maybe 50 assets. Don't seem like much. But indeed if I build with GitHub actions it works perfectly fine, so seems to be a windows issue.

[2022-10-24 10:39] karlwir commented on #246
Hi @SabbeRubbish

I faced the same issue when trying to map my modular content  to  react components. I ended up writing a custom resolver, it adds the remoteTypeName as a "component" field on my the contents types I add it to. Its exported from gatsby-node.ts

[code]

[2022-10-24 12:57] SabbeRubbish commented on #246
Hi @karlwir,

Thank you for your response!
Works like a charm, but I would expect this type of behaviour to be built into the core of this module.
It's a good workaround for now, but every new component that is added to HyGraph would need a code update, which is not ideal.

[2022-10-24 14:12] karlwir commented on #246
@SabbeRubbish

I agree 😊

[2022-10-29 18:11] johnwp opened #247 "Error: Too Many Requests"
Are there any known workarounds for this build-time error?

[code]

The error appears intermittently (~50%) and usually resolves after running the build again.

Running versions:
gatsby: ^4.24.4
gatsby-source-graphcms: ^2.8.0

[2022-10-31 01:25] augustynglowacki commented on #247
Just experienced the same error after doing some changes on the hygraph panel & running the gatsby develop.

[2022-11-03 18:04] roderickfung commented on #247
this is causing intermittent build failures on our CD pipeline. our current workaround is to just keep running a build until it passes, which isn't effective / efficient.

[2022-11-04 04:51] johnwp commented on #247
@itscarlosrufo is this expected?

[2022-11-04 16:21] johnwp commented on #247
I'm using an auth token to connect, so I'm surprised it's throttling me when I'm only connecting at build time.

[2022-11-08 19:20] roderickfung commented on #247
https://hygraph.com/docs/api-reference/basics/errors#429-too-many-requests

looks like hygraph is having rate limiting issues.

[2022-11-09 21:35] augustynglowacki commented on #247
The issue is making the free tier almost unusable now. I have to restart the build 5 times now just to see 1 small change in the content.

[2022-11-09 22:48] johnwp commented on #247
Is this maybe a product issue? @gijshendrix

[2022-11-10 07:59] belazer commented on #247
Hey folks!

The rate limit is working as expected - the current rate limits can be found in the FAQ section below the pricing table here: https://hygraph.com/pricing

The older free plans (with 5 seats, for example) still have a rate limit of 10 req/s. We would recommend looking into ways of throttling requests so you can stay within those limits.

[2022-11-10 20:45] johnwp commented on #247
Hey @belazer, thanks for the reply.

Is there a way to ensure this plugin doesn't exceed 10 req/s? It's causing builds to fail right and left.

Or perhaps slightly increase the limit for authenticated requests?

[2022-11-11 08:45] belazer commented on #247
Unfortunately, I'm not the right person to comment on the code side - but I remember there was a way to throttle requests within Gatsby. I will need to check with the team if anyone is aware of a way to do it.

[2022-11-11 08:53] belazer commented on #247
Did you already try the `queryConcurrency` option mentioned here? https://github.com/hygraph/gatsby-source-graphcms#options

[2022-11-20 23:07] augustynglowacki opened #248 "Gatsby 5 support?"
Hello!

I have tried to run a GraphCMS project with Gatsby 5, but the build process crashes with the info on the screenshot.

Now, I am aware that the plugin hasn't been updated in a while. However, I would like to ask:

- Have any other users managed to run their projects with Gatsby 5?
- Are there any plans for updating the plugin in order to support Gatsby 5?

Thanks.

<img src="https://i.ibb.c

[2022-11-22 14:24] wojciechbator commented on #248
I use gatsby 5 too. I saw that Hygraph pushes towards integration with Gatsby Cloud directly. However, I find this library quite handy to use with Gatsby, as I'm hosting my app elsewhere. Any chance of migrating it to Gatsby v5?

[2022-11-25 15:41] JBusani commented on #248
I asked their support recently and they said no. "We won't be continuing work on our Gatsby plugin and deprecate it soon
So for the time being there will be no ETA to offer support for Gatsby v5. If there are any general graphql plugins, we recommend to use these"

[2022-11-29 09:34] augustynglowacki commented on #248
@JBusani
Thank you very much for sharing this information.